header {
    width: 100%;
    background-color: #353A40;
}

.navbar-brand, .navbar-brand:hover {
    font-size: 1.4em;
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #ffffff;
}

.my-carrusel {
    width: 100%;
}
