/* header y navbar */
header {
    width: 100%;
    background-color: #353A40;
}

.navbar-brand, .navbar-brand:hover {
    font-size: 1.4em;
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #ffffff;
}


/* Carrusel */
.carousel-item {
    transition: transform 1s ease, opacity .2s ease-out;
}


.carousel-item img {
    height: 550px;
    background-size: cover;
}


.container-bg-dark {
    background-color: rgba(00, 00, 00, .5);
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.my-caption {
    margin-top: 9rem;
    color: #ffffff;
}


/* secciones */
section {
    margin-top: 1.5rem;
}

.h2-span {
    font-size: .4em;
    display: block;
}


/* seccion hawai */
.padding-0 {
    padding: 0;
}

.hawai-bg-dark {
    background-color: #353A40;
}

.hawai h3, .hawai p {
    color: #ffffff;
}

.hawai h3 {
    padding-top: 1rem;
}


/* seccion conviértete en orador */
.charla-ignite {
    border-bottom: 1px dashed;
}


/* footer */
footer {
    background-color: #1E4C66;
    width: 100%;
    padding: 1.5rem;
}